node_modules
npm-debug.log
.DS_Store
.env
*.sqlite
*.tmdb
public/assets/logo.png
public/assets/favicon.ico
README.md
LICENSE.txt
EULA.txt
.git
.dockerignore
Dockerfile
docker-compose.yml
*.log
*.sql
*.md
.vscode
*.sublime-project
*.sublime-workspace
Thumbs.db